{% extends 'home/header.html' %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
    {% if user.is_librarian %}
    <br>
    <a href="/library/add_book">Add New Book</a>
    {% endif %}<br>
    <a href="/user/logout">Log Out</a><br>

    Search for : <input type="text" onchange="searchBooks(this.value)">
</div>
    
{% else %}
    


<!-- work from here for no authentitcated users -->
<div class="container">

    {% include 'users/login.html' %}

</div>
{% endif %}



<script>
function searchBooks(name){
    var info = {
        'name': name,
    };
    $.ajax ({
        type: 'POST',
        url: '/library/search',
        data: JSON.stringify(info),
        success: function(data){
            // outputData(data);
            console.log(data);
        }
    });
}


</script>
{% endblock %}